<div class="container">
  <h2>Minha Lista de Tarefas</h2>

  <div class="contadores">
    <span>Total: {{ totalTarefas }}</span>
    <span class="pendentes">Pendentes: {{ tarefasPendentes }}</span>
    <span class="concluidas">Concluídas: {{ tarefasConcluidas }}</span>
  </div>

  <div class="link-navegacao">
    <a routerLink="/cadastrar">Cadastrar Nova Tarefa</a>
  </div>

  <hr>


  <ul class="lista" *ngIf="tarefas.length > 0; else listaVazia">
    
   
    <li *ngFor="let tarefa of tarefas" 
        [class.item-concluido]="tarefa.concluida">
       
      
      <div class="info-tarefa">
        <span class="descricao">{{ tarefa.descricao }}</span>
        
       
        <span class="prazo">
          Prazo: {{ tarefa.prazoDeConclusao | date: 'dd/MM/yyyy HH:mm' }}
        </span>
      </div>

      <div class="acoes">
        
        <button 
          *ngIf="!tarefa.concluida"
          class="btn-concluir" 
          (click)="concluir(tarefa.id)">
          Concluir
        </button>
        
        
        <button 
          class="btn-remover" 
          (click)="remover(tarefa.id)">
          Remover
        </button>
      </div>
    </li>
  </ul>

 
  <ng-template #listaVazia>
    <div class="lista-vazia">
      <p>Nenhuma tarefa cadastrada.</p>
      <p>Que tal <a routerLink="/cadastrar">adicionar uma</a>?</p>
    </div>
  </ng-template>

</div>
